$color-red: rgb(255, 20, 20);

p {
  color: $color-red;
}

body {
  background-image: url('../assets/images/cat.jpg');
}

@font-face {
  font-family: 'Big Noodles';
  src: url('../assets/fonts/big_noodle_titling.ttf');
}
