<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue à Noesia: <%= @user.username %> !</h1>
    <p>
      Tu t'es inscrit sur <a href="https://noesia.vercel.app">Noesia</a> en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton compte, connecte-toi via : <%= @url %>.
    </p>
    <p>
      On se retrouve trés vite à Noesia !
    </p>
  </body>
</html>