@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.carousel-card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  color: $yellow;
  text-align: justify;
  transition: all 0.3s ease-out;

  .carousel-card-background {
    width: 100%;
    object-fit: cover;
  }
}  