.App {
  margin: -8px;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0A2647;
  padding: 15px;

  & a{
    text-decoration: none;
    color: #E5E0FF;
    margin-right: 20px;
  }
}