@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins.scss';

.edit {
  background-color: $black;

  .edit-wrapper {  
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6rem;

    @include tablet {
      margin: 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .edit-form {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
        margin: -8rem 0 0 0;
      }

      @include mobile {
        margin: -4rem 0 0 0;
      }

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      
        input {
          background: $white;
          color: $black;
          width: 100%;
          border: 0.05rem solid $white;
          border-radius: 0.5rem;
          font-size: 2rem;
          padding: 0.8rem;
          margin: 0.8rem;
          
          @include tablet {
            margin: 1.2rem;
            font-size: 1.3rem;
          }
        }

        p {
          width: 100%;
        }
      }
    }

    .edit-side {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include tablet {
        margin: -8rem 0 0 0;
      }

      @include mobile {
        margin: -4rem 0 0 0;
      }

      img {
        width: 80%;
        border-radius: 4.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}